@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
  color: #52b69a !important;
}

.green:hover {
  color: #1d6a54;
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

body,
html {
  margin: 0 !important;
}
