@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
  color: #52b69a !important;
}

.green:hover {
  color: #1d6a54;
}

footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
}

body,
html {
  margin: 0 !important;
}

.header {
  background-color: #52b69a;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.header a:hover,
i:hover {
  color: rgb(200, 232, 188);
}
